/* Set global styles for the entire document */
html {
    height: 100%;
    box-sizing: border-box;
}

/* Apply styles to the body of the web page */
body {
    width: 100vw;
    /* Full viewport width */
    min-height: 100%;
    /* Minimum height to fill the viewport */
    position: relative;
    /* Allows absolute positioning within */
    margin: 0;
    /* Remove default margin */
    padding-bottom: 5rem;
    /* Add padding at the bottom */
    box-sizing: inherit;
    /* Inherit box-sizing from html */
    background-color: #13113C;
    /* Background color */

    /* Use Flexbox for layout */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    font-family: 'Inter', sans-serif;
    /* Font family */
    text-align: center;
    /* Center text */
}

/* Apply styles to headings */
h2,
h1 {
    color: white;
    /* Text color */
    text-decoration: underline;
    /* Add underline */
}

/* Apply styles to images */
img {
    width: 9vw;
    /* Set width */
    height: 5vh;
    /* Set height */
    border-radius: 10px;
    /* Add rounded corners */
}

/* Apply styles to video elements */
video {
    max-width: 50%;
    /* Limit video width */
    height: auto;
    /* Maintain aspect ratio */
}

/* Apply styles to sections */
section {
    display: flex;
    /* Use Flexbox for layout */
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center items horizontally */
}

/* Style the header */
header {
    width: 90vw;
    /* Set header width */
    border: 2px solid white;
    /* Add border */
    margin: 0 0 10px 0;
    /* Adjust margins */
    padding: 10px;
    /* Add padding */
    box-sizing: border-box;
    /* Include padding and border in width */
    font-size: 20px;
    /* Set font size */
}

/* Style unordered lists */
ul {
    list-style: none;
    /* Remove list bullets */
    display: flex;
    /* Use Flexbox for layout */
    flex-direction: row;
    /* Arrange list items horizontally */
    justify-content: space-evenly;
    /* Distribute space between items */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    cursor: pointer;
    /* Use pointer cursor */
}

/* Style list items */
li {
    padding: 5px 10px;
    /* Add padding around list items */
}

/* Style anchor links */
a {
    color: white;
    /* Text color */
}

/* Style active navigation links */
.menu .active-link {
    border: 1px solid yellow;
    /* Add border */
    border-radius: 5px;
    /* Add rounded corners */
}

/* Style anchor links on hover and when active */
a:hover,
a:active {
    text-decoration: underline;
    /* Add underline on hover */
    color: yellow;
    /* Text color change to yellow */
    transition: 600ms;
    /* Smooth transition effect */
}

/* Style the footer */
footer {
    text-align: center;
    /* Center-align text */
    position: absolute;
    /* Position at the bottom */
    right: 0;
    left: 0;
    bottom: 0;
}

/* Remove list bullets for divs and list items */
div,
li {
    list-style: none;
}

/* Style pagination links */
.pagination a {
    color: white;
    /* Text color */
    padding: 8px 16px;
    /* Add padding around links */
    text-decoration: none;
    /* Remove default underline */
    transition: background-color .3s;
    /* Smooth background color transition */
}

/* Style the active pagination link */
.pagination a.active {
    background-color: dodgerblue;
    /* Background color change */
    color: white;
    /* Text color change */
}

/* Style pagination links on hover (excluding active link) */
.pagination a:hover:not(.active) {
    background-color: black;
    /* Background color change on hover */
}

/* Media queries for mobile devices */
@media (max-width: 768px) {

    /* Adjust styles for smaller screens */
    body {
        padding-bottom: 3rem;
        /* Reduce bottom padding */
    }

    /* Modify styles for the navigation menu on smaller screens */
    ul {
        list-style: none;
        /* Remove list bullets */
        display: flex;
        /* Use Flexbox for layout */
        flex-direction: column;
        /* Arrange items vertically */
        justify-content: space-evenly;
        /* Distribute space between items */
        padding: 0;
        /* Remove default padding */
        margin: 0;
        /* Remove default margin */
    }

    /* Adjust image sizing for smaller screens */
    img {
        width: 9vw;
        /* Set width */
        height: auto;
        /* Maintain aspect ratio */
    }

    /* Modify header styles for smaller screens */
    header {
        width: 100%;
        /* Full width */
        font-size: 18px;
        /* Adjust font size */
    }

    /* Reset footer positioning for smaller screens */
    footer {
        position: static;
        /* Reset to default position */
    }
}